body {
    background-color: rgba(255, 255, 255, 0);
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 0px;
    left: 0px;
    height: 60px;
    right: 0px;
    overflow: hidden;
}

a#company_name {
    color: white;
    background-color: rgb(61, 61, 126);
}

a#company_name:hover {
    background-color: black;
}

.inside_main_nav {
    /*to make the written in the center near the logo */
    position: absolute;
    top: 1.2em;
    left: 6em;
}

header>nav>ul {
    position: relative;
    top: 0.9em;
}

footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    bottom: 0px;
    height: 30px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    margin-left: 0.5em;
}

main {
    font-family: Georgia, Cochin, 'Times New Roman', serif, Times;
    /* margin: 1%;*/
    padding-left: 1%;
    background-color: rgb(233, 235, 235);
    position: absolute;
    top: 70px;
    bottom: 32px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

nav>ul {
    list-style: none;
    margin: 0.1em;
    padding: 0.2em;
    display: inline;
}

nav li {
    display: inline;
}

.multi_column {
    display: flex;
    background-color: rgba(207, 197, 197, 0);
}

.col {
    flex: 1;
}


/* this is for any img inside 'a' (Clickable)*/

a>img:hover {
    border: 5px sloid red;
}


/**/

a {
    text-decoration: underline;
}


/*
this is for the links in the nav parts
*/

nav a {
    text-decoration: none;
}

nav a:link {
    color: rgb(7, 1, 1);
}

nav a:visited {
    color: rgb(7, 1, 1);
}

nav a:hover {
    background-color: black;
    color: white;
}


/*-----------------------------------------------------------*/

a:link {
    font-weight: bold;
    color: rgba(71, 71, 221, 0.637);
}

a:visited {
    color: rgb(7, 1, 1);
}

a:hover {
    background-color: black;
    color: white;
}


/*external links(outside my website)*/

a.outside_mywebsite:link {
    color: rgba(197, 125, 191, 0.637);
}

a.outside_mywebsite:visited {
    color: rgba(139, 185, 112, 0.637);
}

a.outside_mywebsite:hover {
    background-color: rgb(202, 35, 35);
    color: white;
}


/* used in the seacrh php file as demo*/

a.active {
    background-color: darkblue;
    color: white;
}


/*for search flats: the result table:*/

table {
    border-collapse: collapse;
    padding-left: 1em;
    /*padding: 0.5em;*/
}

table thead {
    background-color: #a19696;
}


/*
thead{
   
   padding: 0.5em;
   width: 95%;
   
   background-color: #BDBDBD;
}*/

table>caption {
    background-color: gray;
    padding: 0.5em;
}

tbody tr:nth-child(odd) {
    background: rgb(255, 255, 255)
}

tbody tr:hover {
    background: rgb(237, 250, 162)
}

.input {
    border-radius: 0.2em;
    align-items: center;
    align-content: center;
}

input[type="number"] {
    width: 13em;
}


/*
button.input {
    

border-radius: 0.3em;
font-size: 8px;
margin: 0;
position: absolute;
margin-top: 0.6em;

}
*/

td {
    padding-right: 2em;
}

th {
    text-align: left;
    padding-right: 2em;
}

tr {
    border-bottom: 1pt solid rgb(112, 112, 112);
}

div#searchBox {
    margin: 0.5em;
}

div#resultBox {
    background-color: rgb(230, 230, 230);
    margin: 1em;
}


/*
#last-row {
    border-bottom: none;
}
*/


/*
#table-heading {
    background-color: gray;
}*/


/*

for house details page:

*/

.multi_column_det {
    display: flex;
}

.det {
    /*=details*/
    margin-left: auto;
    margin-right: 1em;
    margin-top: 2em;
}

.extra_features {
    margin-top: 1em;
    padding: 1em;
    padding-left: 0.5em;
    background-color: rgb(241, 155, 123);
    border-radius: 1%;
    width: 60%;
}


/*


.market_row {
    display: inline;
}*/

form {
    margin: 1em;
}

fieldset>legend {
    font-weight: bolder;
}

ul.flat_det em {
    font-size: 1.3em;
    font-weight: bold;
}


/*
from lab#7: exer#8
*/

figure {
    border: 1pt solid #262626;
    background-color: #c1c1c1;
    padding: 5px;
    width: 45%;
    height: 25%;
    margin: 10px;
    float: left;
}

.first_image {
    clear: left;
}

figure img {
    width: 100%;
    height: 92%;
}

nav.aside_nav li {
    display: block;
}


/*

for register
*/

.form_line {
    margin-top: 0.5em;
}

.address_row {
    margin-left: 1em;
}

.warning {
    color: red;
}


/*

login
*/

.login {
    background-color: rgb(187, 161, 127);
    align-items: center;
    width: 50%;
    height: 8.5em;
    margin: auto;
    border-radius: 1em;
}

.login_form {
    margin: auto;
    width: 99%;
}

em {
    font-style: normal;
    font-family: monospace;
}

.welcome {
    color: crimson;
}

#preview_button {
    /* position: relative;
    top: 14em;
    */
    margin-left: 14.5%;
    margin-top: 1em;
}


/*this is in preview time table*/

form table tr.taken_slot {
    background-color: rgb(226, 141, 141);
}


/*msgs all*/


/*
.msgs_table {
    position: absolute;
    top: 20%;
    bottom: 30%;
    left: 1%;
    right: 0%;
    width: 90%;
    margin: auto;
}*/

.not_viewd_msg {
    font-weight: bolder;
    font-size: larger;
}

table a:link {
    color: rgb(7, 1, 1);
}

table a:visited {
    color: rgb(7, 1, 1);
}

table a:hover {
    background-color: black;
    color: white;
}

table>caption {
    font-weight: bolder;
    color: aliceblue;
    background-color: rgb(103, 104, 105);
}

#msg_title {
    border: 1px solid black;
    font-weight: bold;
    background-color: #bdbdbd
}


/*/*----------------------------------------------*/

#msg_table {
    margin-top: 1em;
    margin-left: 0em;
}

table#msg_table>tr.msg_tbl {
    background-color: rgb(192, 184, 184);
}

#msg_title {
    padding: 1em;
    text-align: center;
}